// S'assurer que la page occupe toute la hauteur
html, body { height: 100%; }

#page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.site-content { flex: 1; }



// MENU
.nm-nav {
  background:#fff;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding: 0.8em 7em;
  position: relative;
  z-index: 1100;
}

.site-logo { 
  max-width:11em; }

.container-liens ul { 
  display:flex; 
  gap: 0; 
  list-style:none;
  padding-left:0; 
}

.container-liens li { 
  width: 6.5em; 
  text-align:center; }

.container-liens a { 
  text-decoration:none; 
  transition: 
  font-weight .2s ease; }

.container-liens a:hover { 
  font-weight:700; 
}

/* Menu Burger */
.menu-container { 
  display:none; 
  align-items:center; 
}

.menu-toggle {
  display:flex; 
  flex-direction:column; 
  gap:6px; 
  cursor:pointer; 
  padding:10px;
  background:none !important; 
  border:0;
}

.menu-toggle .line {
  width:28px; 
  height:2px; 
  background:#000; 
  border-radius:1px;
  transition: transform .2s ease, opacity .2s ease;
}

/* État ouvert*/
.menu-open .menu-toggle .line:nth-child(1){ transform:translateY(8px) rotate(45deg); }
.menu-open .menu-toggle .line:nth-child(2){ opacity:0; }
.menu-open .menu-toggle .line:nth-child(3){ transform:translateY(-8px) rotate(-45deg); }

/* Overlay */
.menu-header{
  z-index:1000;
  position: fixed;
  inset:0;
  background:#E00000;
  display:flex; 
  align-items:center; 
  justify-content:center;
  visibility:hidden; 
  opacity:0; 
  transition:opacity .25s ease, visibility .25s ease;
}

.menu-open .menu-header{ 
  visibility:visible;
  opacity:1; 
}

.menu-overlay { 
  list-style:none; 
  margin:0; 
  padding:0; 
  text-align:center; 
}

.menu-overlay > li + li { 
  margin-top:24px; 
}

.menu-overlay a {
  text-decoration:none; 
  color:#ffffff; 
  text-transform:uppercase; 
  letter-spacing:0.12em;
  font-size: clamp(18px, 12vw, 44px);
}

@media (max-width: 960px){
  .nm-nav {
    padding: 0.8em 2em;
  }
}

@media (max-width: 720px){
  .container-liens { 
    display:none; 
  }

  .menu-container { 
    display:flex; 
  }
}

@media (max-width: 400px){
  .nm-nav {
    flex-direction: column;
    padding: 0.8em 0em;
  }
}

// FOOTER

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 1rem 0;
  border-top: 1px solid #000;
  background: #fff;
}

.footer-container .footer-menu {
  display: flex;
  align-items: center;
  gap: 2rem; /* espace entre les liens */
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-container .footer-menu li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}

.footer-container p {
  margin: 0;
  text-transform: uppercase;
}

.footer-text {
  pointer-events: none; /* empêche le clic */
}

@media (max-width: 720px){
.footer-container, .footer-menu {
  padding:2em 0;
  flex-direction: column;
  gap: 1em;
}
.footer-container a {
  text-align: center;
}
}


// MODALE

.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0; 
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background: rgba(0,0,0,.4);
  

}

/* Fenêtre */
.modal-content {
  position: relative;
  background: #fff;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10vh auto;
  padding: 1em 4em;
  border: 5px solid #000;
  width: 37em;
}

/* Bouton X */
.close {
  position: absolute;
  right: 0;
  top:0;
  font-size: 3em;
  line-height: 0.5;       /* pas d'espace vertical inutile */
  font-weight: bold;
  cursor: pointer;
}

.modal-content h2 {
  margin-bottom: 0.5em;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20em !important;
}

.modal-content input, .modal-content textarea {
  border: 1px solid #0000004f !important;
  border-radius: 10px !important;
  margin-bottom: 1.2em !important;
  resize : none !important;
  width: 100% !important;
}

.modal-content input:focus{
  border: 3px solid #000000ab !important;
  outline: offset 0 !important;
  outline:0 !important;
}
 .modal-content textarea:focus  {
    border: 3px solid #000000ab !important;
 }

.modal-content .wpcf7-submit {
  text-align: center !important;
  background-color: rgb(224, 222, 222) !important;
  margin: 0 auto !important;
  display: flex;
  width: 100%;
  border-radius: 0 !important;
  border:0 !important;
  color:black !important;
  font-weight:300 !important;
}

.modal-content .wpcf7-submit:hover {
  color:rgb(255, 255, 255) !important;
  background-color: rgb(0, 0, 0) !important;
}

@media (max-width: 960px){
.modal-content {
  padding: 1em 0;
  max-width: 30em;
}
}

@media (max-width: 720px){
  .modal-content {
  max-width: 21em;
}
.modal-content form {
  max-width: 15em !important;
}
}

@media (max-width: 420px){
.modal-content {
  max-width: 17em;
}

}