
@mixin bouton-style {
  text-align: center !important;
  background-color: rgb(224, 222, 222) !important;
  border-radius: 5px !important;
  border:0 !important;
  color:black !important;
  font-weight:300 !important;
}
/* Zone cliquable */
.arrow-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 10px;
  cursor: pointer;
}

/* Style flèche */
.arrow {
  position: relative;
  width: 25px;
  height: 1px;
  background: #000;
  transition: transform 0.2s ease;
}

/* Chevron */
.arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 8px;
  height: 8px;
  border: 1px solid transparent;
  transform: translateY(-50%) rotate(45deg);
  transition: transform 0.2s ease;
}

/* Variantes gauche/droite */
.arrow-left::after {
  left: 0;
  border-left-color: #000;
  border-bottom-color: #000;
}

.arrow-right::after {
  right: 0;
  border-top-color: #000;
  border-right-color: #000;
}

/* Effet hover */
.arrow-wrapper:hover .arrow {
  transform: scaleX(1.3);
}

.arrow-wrapper:hover .arrow::after {
  transform: translateY(-50%) rotate(45deg) scale(1.1);
}


// S'assurer que la page occupe toute la hauteur
html, body { height: 100%; }

#page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.site-content { 
  flex: 1; 
}

// ANIMATIONS
.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInMove 0.4s ease forwards;
}

@keyframes fadeInMove {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// MENU
.nm-nav {
  background:#fff;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding: 0.8em 7em;
  position: relative;
  z-index: 1100;
}

.site-logo { 
  max-width:11em; }

.container-liens ul { 
  display:flex; 
  gap: 0; 
  list-style:none;
  padding-left:0; 
}

.container-liens li { 
  width: 6.5em; 
  text-align:center; }

.container-liens a { 
  text-decoration:none; 
  transition: 
  font-weight .2s ease; }

.container-liens a:hover { 
  font-weight:700; 
}

/* Menu Burger */
.menu-container { 
  display:none; 
  align-items:center; 
}

.menu-toggle {
  display:flex; 
  flex-direction:column; 
  gap:6px; 
  cursor:pointer; 
  padding:10px;
  background:none !important; 
  border:0;
}

.menu-toggle .line {
  width:28px; 
  height:2px; 
  background:#000; 
  border-radius:1px;
  transition: transform .2s ease, 
  opacity .2s ease;
}

/* État ouvert*/
.menu-open .menu-toggle .line:nth-child(1){ transform:translateY(8px) rotate(45deg); }
.menu-open .menu-toggle .line:nth-child(2){ opacity:0; }
.menu-open .menu-toggle .line:nth-child(3){ transform:translateY(-8px) rotate(-45deg); }

/* Overlay */
.menu-header{
  z-index:1000;
  position: fixed;
  inset:0;
  background:#E00000;
  display:flex; 
  align-items:center; 
  justify-content:center;
  visibility:hidden; 
  opacity:0; 
  transition:opacity .25s ease, visibility .25s ease;
}

.menu-open .menu-header{ 
  visibility:visible;
  opacity:1; 
}

.menu-overlay { 
  list-style:none; 
  margin:0; 
  padding:0; 
  text-align:center; 
}

.menu-overlay > li + li { 
  margin-top:24px; 
}

.menu-overlay a {
  text-decoration:none; 
  color:#ffffff; 
  text-transform:uppercase; 
  letter-spacing:0.12em;
  font-size: clamp(18px, 12vw, 44px);
}

@media (max-width: 960px){
  .nm-nav {
    padding: 0.8em 2em;
  }
}

@media (max-width: 720px){
  .container-liens { 
    display:none; 
  }

  .menu-container { 
    display:flex; 
  }
}

@media (max-width: 400px){
  .nm-nav {
    flex-direction: column;
    padding: 0.8em 0em;
  }
}

// FOOTER

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 1rem 0;
  border-top: 1px solid #000;
  background: #fff;
}

.footer-container .footer-menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu li {
  width: 13em; 
  text-align:center;
}

.footer-container .footer-menu li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}

.footer-container .footer-menu li a:hover {
  font-weight:700; 
}

.footer-container p {
  margin: 0;
  text-transform: uppercase;
}

.footer-text {
  pointer-events: none;
}

@media (max-width: 720px){
.footer-container, .footer-menu {
  padding:2em 0;
  flex-direction: column;
  gap: 1em;
}
.footer-container a {
  text-align: center;
}
}


// MODALE

.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0; 
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background: rgba(0,0,0,.4);
  

}

/* Fenêtre */
.modal-content {
  position: relative;
  background: #fff;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10vh auto;
  padding: 1em 4em;
  border: 5px solid #000;
  width: 37em;
}

/* Bouton X */
.close {
  position: absolute;
  right: 0;
  top:0;
  font-size: 3em;
  line-height: 1;
  font-weight: bold;
  cursor: pointer;
}

.modal-content h2 {
  margin-bottom: 0.5em;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20em !important;
}

.modal-content input, .modal-content textarea {
  border: 1px solid #0000004f !important;
  border-radius: 10px !important;
  margin-bottom: 1.2em !important;
  resize : none !important;
  width: 100% !important;
}

.modal-content input:focus{
  border: 3px solid #000000ab !important;
  outline: offset 0 !important;
  outline:0 !important;
}
 .modal-content textarea:focus  {
    border: 3px solid #000000ab !important;
 }

.modal-content .wpcf7-submit {
  @include bouton-style;
  width: 100%;
  margin: 0 auto !important;
  display: flex;
}

.modal-content .wpcf7-submit:hover {
  color:rgb(255, 255, 255) !important;
  background-color: rgb(0, 0, 0) !important;
}

@media (max-width: 960px){
.modal-content {
  padding: 1em 0;
  max-width: 30em;
}
}

@media (max-width: 720px){
  .modal-content {
  max-width: 21em;
}
.modal-content form {
  max-width: 15em !important;
}
}

@media (max-width: 420px){
.modal-content {
  max-width: 17em;
}

}


// DETAILS DES PHOTOS

// Image principal et références
.single-photo__page { 
  padding:4vh 7vw !important; 
}
.single-photo__wrap { 
  display: flex;
  justify-content: space-between;
  min-height: 80vh; 
}

.single-photo__meta {
  display:flex;
  flex-direction: column;
  justify-content: end;
  width: 50%;
  text-transform: uppercase;
  padding: 2em 0;
  text-decoration: none;
}

.single-photo__title {
  width: 50%;
}

.single-photo__figure{
  width: 50%;
  height: 100vh; 
  overflow: hidden;
  margin: 0;
}

.single-photo__specs {
  display: flex;
  flex-direction: column;
  list-style-type:none;
  padding: 0;
  gap: 1.5em;
}

.single-photo__img{
  width: 100%;
  height: 100% !important;
  display: block;
  object-fit: contain;       
  object-position: center;    
  max-width: none !important; 
  max-height: none !important; 
}

.single-photo__specs span { 
  font-weight: 600; 
  margin-right: 6px; 
}


// Contact et défilement photos
.separator-cta {
  border-bottom: 2px solid black;
}
.separator-cta.top {
  width: 50%;
}

.single-photo__cta {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.single-photo-cta__container { 
  display:inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 118px;
  gap:1em;
}

.single-photo__cta .btn {
  @include bouton-style;
  width: 15em;
}

.single-photo__cta .btn:hover {
  color:rgb(255, 255, 255) !important;
  background-color: rgb(0, 0, 0) !important;
}

.preview-box {
  padding-bottom:5px ;
  height: 76px;
  width: 81px;
}

.single-photo__nav img  {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;       
  object-position: center;    
  max-width: none !important; 
  max-height: none !important; 
}

.preview-img { 
  display:none; 
} 

.preview-box .preview-img.active { 
  display:block !important; 
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

// Suggestions de photos

.related-photos { 
  margin: 5em 0 3em 0; 
}

.related-photos__title { 
  margin: 0 0 3em; 
  text-transform:uppercase; 
}

.related-photos__container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  align-items: stretch;
}

.related-photos__link{ 
  display:block; 
}

.related-photos__img{
  display:block;
  width:100%;
  aspect-ratio: 3 / 2.5;
  object-fit: cover;
  object-position: center;
}


@media (max-width: 960px){
.single-photo__page { 
  padding:3vh 3vw !important; 
}
.single-photo__figure{
  height: 70vh; 
}
.single-photo__cta .btn {
  padding: 1em 2em
}
}

@media (max-width: 720px){
.single-photo__page {
    padding: 2vh 0vw !important;
}

.single-photo__figure{
  width: 100%; 
  height: auto;
}

.single-photo__wrap { 
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  min-height: 20vh; 
  padding: 0 4em;
}

.single-photo__specs, .single-photo__title {
  width: 100%;
}
.single-photo__specs {
  padding: 0 0 2em 0;
}
.single-photo__meta {
  text-align: start;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 1em 0;
}

.separator-cta, .separator-cta.top {
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
  position: relative;
}

.single-photo__nav {
  display: none;
}

.single-photo__cta {
  padding:1em 3em;
  justify-content: center;
}
.single-photo-cta__container {
  width: 90%;
  flex-direction: column;
  align-items: start;
  gap: 0;
}
.single-photo__cta .btn {
  margin:auto;
  width:100%;
}
.related-photos {
  margin: 2em 0 0em 0;
}

.related-photos__title {
  margin: 0 0 2em;
  text-align: center;
}
.related-photos__container {
  padding:0 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

}

@media (max-width: 400px){
.single-photo__wrap {
  padding: 0 1em;
}
.single-photo__cta {
  padding: 1em 1.5em;
}

.single-photo-cta__container {
  width: 100%;
}
}

// FRONT PAGE

.hero {
  position: relative;
  height: 80vh;
  background: url('../../assets/images/hero.png') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero__title  {
  width: 80vw;
  aspect-ratio: 1200 / 200;
  background: url('../../assets/images/front-title.svg') center/contain no-repeat;
  color: transparent;
}

@media (max-width: 960px){
  .hero {
    height: 65vh;
  }
}
@media (max-width: 720px){
  .hero {
    height: 55vh;
  }
}
@media (max-width: 400px){
  .hero {
    height: 45vh;
  }
}

.home-photos {
  padding: 4em 6em 4em 6em;
}

.home-photos__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  align-items: stretch;
}

@media (max-width: 720px){
.home-photos__container {
  padding:0 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
}